<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">

   <ui:define name="head">
      <title>Alpha Wares | Mon Compte</title>
      <f:metadata>
         <f:event listener="#{mbLogin.authorize()}" type="preRenderView" />
      </f:metadata>
   </ui:define>

   <ui:define name="content">
      <b:row>
         <b:column style-class="center">
            <h2 class="flex-justify-center flex-align-center">Mon compte</h2>
         </b:column>
      </b:row>

      <h:form id="accountForm">
         <b:panel styleClass="one-panel">
            <b:row styleClass="change-value">
               <b:column styleClass="mt-1rem right xs-c2 sm-c2 md-c2 lg-c3 xl-c4">
                  <h:outputLabel value="Nom" />
               </b:column>
               <b:column styleClass="xs-c3 sm-c4 md-c4 lg-c6 xl-c8">
                  <b:inputText id="clientNewLastname" value="#{mbAccount.employeeNewLastname}" disabled="#{mbAccount.modifying}"/>
                  <b:message for="clientNewLastname" styleClass="error" />
               </b:column>
            </b:row>

            <b:row styleClass="change-value">
               <b:column styleClass="mt-1rem right xs-c2 sm-c2 md-c2 lg-c3 xl-c4">
                  <h:outputLabel value="Prénom" />
               </b:column>
               <b:column styleClass="xs-c3 sm-c4 md-c4 lg-c6 xl-c8">
                  <b:inputText id="clientNewFirstname" value="#{mbAccount.employeeNewFirstname}" disabled="#{mbAccount.modifying}"/>
                  <b:message for="clientNewFirstname" styleClass="error" />
               </b:column>
            </b:row>

            <b:row styleClass="change-value">
               <b:column styleClass="mt-1rem right xs-c2 sm-c2 md-c2 lg-c3 xl-c4">
                  <h:outputLabel value="Date de naissance" />
               </b:column>
               <b:column styleClass="xs-c3 sm-c4 md-c4 lg-c6 xl-c8">
                  <b:inputText value="#{mbAccount.connectedEmployee.birthdate}" disabled="true"/>
               </b:column>
            </b:row>

            <b:row styleClass="change-value">
               <b:column styleClass="mt-1rem right xs-c2 sm-c2 md-c2 lg-c3 xl-c4">
                  <h:outputLabel value="Email" />
               </b:column>
               <b:column styleClass="xs-c3 sm-c4 md-c4 lg-c6 xl-c8">
                  <b:inputText value="#{mbAccount.connectedEmployee.email}" disabled="true"/>
               </b:column>
            </b:row>

            <b:row styleClass="change-value">
               <b:column styleClass="mt-1rem right xs-c2 sm-c2 md-c2 lg-c3 xl-c4">
                  <h:outputLabel value="Mot de passe" />
               </b:column>
               <b:column styleClass="xs-c3 sm-c4 md-c4 lg-c6 xl-c8">
                  <b:inputSecret id="clientNewPassword" value="#{mbAccount.employeeNewPassword}" disabled="#{mbAccount.modifying}"/>
                  <b:message for="clientNewPassword" styleClass="error" />
               </b:column>
            </b:row>
         </b:panel>

         <b:row styleClass="mb-2rem ml-2rem mr-2rem mt-2rem">
            <b:commandButton styleClass="mt-1rem xs-c4 xs-o1 sm-c4 sm-o2 md-c2 md-o1 lg-c2 lg-o2 xl-c4 xl-o1"
                             value="Modifier mes informations"
                             rendered="#{mbAccount.modifying}"
                             update="accountForm" action="#{mbAccount.modifyFields()}" />
            <b:commandButton styleClass="mt-1rem xs-c4 xs-o1 sm-c4 sm-o2 md-c2 md-o1 lg-c2 lg-o1 xl-c4 xl-o1"
                             value="Annuler la modification"
                             rendered="#{!mbAccount.modifying}"
                             immediate="true"
                             update="accountForm" action="#{mbAccount.init()}" />
            <b:commandButton styleClass="mt-1rem xs-c4 xs-o1 sm-c4 sm-o2 md-c2 md-o1 lg-c2 lg-o1 xl-c4 xl-o1"
                             value="Enregistrer les modifications"
                             rendered="#{!mbAccount.modifying}"
                             update="accountForm" action="#{mbAccount.updateConnectedEmployee()}" />
         </b:row>
         <b:row>
            <b:commandButton styleClass="button-danger mt-1rem xs-c4 xs-o1 sm-c6 sm-o1 md-c6 md-o2 lg-c8 lg-o2 xl-c10 xl-o3"
                             value="Fermer mon compte"
                             update="compteForm"
                             onclick="if (! confirm('Attention, vous allez désactiver votre compte. CETTE ACTION EST IRREVERSIBLE! En êtes-vous sûr(e) ?')) return false"
                             action="#{mbAccount.closeAccount()}" />
         </b:row>
      </h:form>

   </ui:define>

</ui:composition>

</html>