<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">

<h:head>
  <ui:insert name="head" />

  <h:outputStylesheet library="css" name="awares-style.css" />

</h:head>

<h:body>
  <b:form>

    <b:row styleClass="xs-cn1 sm-cn1 md-cn1 lg-cn1 xl-cn1">
      <div id="page-header" class="flex-justify-center flex-align-center no-select">
        Alpha <img class="logo" src="resources/svg/awares-logo2.svg" alt="AlphaWares logo" role="img"/> Wares
      </div>
    </b:row>


    <b:navBar id="navBarMain" styleClass="mb-0 ">
      <div class="">
        <b:navbarLinks styleClass="tabs-lg">
          <b:navLink value="Accueil" icon-awesome="home" href="index.xhtml" />
          <b:navLink value="Contact" icon-awesome="comment" href="contact.xhtml" />
        </b:navbarLinks>
      </div>

      <b:navbarLinks id="navBarRight" pull="right" >
          <b:dropMenu value="#{mbLogin.visitorOrName()}">
            <b:navLink header="Compte"/>
            <b:navLink value="Mes informations personnelles" icon-awesome="user" href="compte.xhtml" />
            <b:navLink value="Inscription" icon-awesome="user" href="inscription.xhtml" rendered="#{!mbLogin.isConnected()}" />
            <b:navLink value="Connexion" icon-awesome="key" href="login.xhtml" rendered="#{!mbLogin.isConnected()}" />
            <b:navCommandLink value="Déconnexion" action="#{mbLogin.disconnect()}" icon-awesome="key"
                                    rendered="#{mbLogin.isConnected()}" />
          </b:dropMenu>
      </b:navbarLinks>

    </b:navBar>
  </b:form>


  <b:container fluid="true">
    <b:row>
      <b:column styleClass="content">
        <ui:insert name="content" />
      </b:column>
    </b:row>
  </b:container>

  <div id="page-footer">

    Alpha Wares
    &copy;2023 Daniel BOLLU. Tous Droits Réservés.

  </div>

</h:body>

</html>
