<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">

    <ui:define name="head">
        <title>Alpha Wares | Contact</title>
    </ui:define>

    <ui:define name="content">
        <b:row style-class="center">
            <b:column>
                <h2 class="h2">Nous contacter :</h2>
            </b:column>
        </b:row>
        <b:row >
            <div>
                <b:panel styleClass="
                                     xs-o2 xs-c2    mt-1rem
                                     sm-o3 sm-c2    mb-1rem
                                     md-o3 md-c4    center
                                     lg-o1 lg-c2    flex-align-center
                                     xl-o1 xl-c3    flex-justify-center

                                     panel-contact  panel

                                     ">
                    <h4 class="fw-7">Adresse postale<br /></h4>
                    12 rue Condorcet <br />
                    92140 CLAMART
                </b:panel>
                <b:panel styleClass="
                                     xs-o2 xs-c2    mt-1rem
                                     sm-o3 sm-c2    mb-1rem
                                     md-o3 md-c4    center
                                     lg-o1 lg-c2    flex-align-center
                                     xl-o1 xl-c3    flex-justify-center

                                     panel-contact  panel

                                     ">
                    <h4 class="bold black">Adresse email<br /></h4>
                    bollud33@gmail.com
                </b:panel>
                <b:panel styleClass="
                                     xs-o2 xs-c2    mt-1rem
                                     sm-o3 sm-c2    mb-1rem
                                     md-o3 md-c4    center
                                     lg-o1 lg-c2    flex-align-center
                                     xl-o1 xl-c3    flex-justify-center

                                     panel-contact  panel

                                     ">
                    <h4 class="bold black">Numéro de téléphone<br /></h4>
                    06.60.21.24.32
                </b:panel>
            </div>
        </b:row>
    </ui:define>

</ui:composition>

</html>