<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml" >

    <ui:define name="head">
        <title>Alpha Wares | Accueil</title>
    </ui:define>

    <ui:define name="content"  >

<div >
        <b:row >
            <b:column>
                <b:row>
                    <b:column>
                        <h4 class="center fw-7">  </h4>
                    </b:column>
                </b:row>

                <b:row>
                    <b:column>
                        <h3 class="fw-7">Créez un compte ou connectez-vous pour profiter de l'expérience Alpha Wares!</h3>
                    </b:column>
                </b:row>

                <b:row>
                    
                    <b:column styleClass="xs-o1 xs-c4 sm-o1 sm-c2 md-o1 md-c3 lg-o2 lg-c3 xl-o3 xl-c3">
                      <form action="register.xhtml">
                          <button class="button-normal" type="submit">Inscription</button>
                      </form>
                    </b:column>

                    <b:column styleClass="xs-o1 xs-c4 sm-o2 sm-c2 md-o2 md-c3 lg-o2 lg-c3 xl-o4 xl-c3">
                        <form action="login.xhtml">
                            <button class="button-normal" type="submit">Se connecter</button>
                        </form>
                    </b:column>
                </b:row>
            </b:column>
        </b:row>
</div>
    </ui:define>




</ui:composition>

</html>