<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">

    <ui:define name="head">
        <title>Alpha Wares | Connexion</title>
        <f:metadata>
            <f:event listener="#{mbLogin.closeSession()}" type="preRenderView" />
        </f:metadata>
    </ui:define>

    <ui:define name="content">
        <b:form id="loginForm">
            <b:panel style-class="panel one-panel no-select">
                <b:row>
                    <b:column style-class="mb-1rem xs-o1 sm-o1 md-o1 lg-o1 xl-o2">
                        <h:outputText value="Identifiant"/>
                    </b:column>
                    <b:column style-class="w-50 flex-0-0-auto">
                        <b:inputText id="inpLogin"
                                     placeholder="Identifiant"
                                     value="#{mbLogin.login}">
                            <f:facet name="prepend">
                                <b:icon name="user" />
                            </f:facet>
                        </b:inputText>
                    </b:column>
                </b:row>
                <b:row>
                    <b:column style-class="mb-1rem xs-o1 sm-o1 md-o1 lg-o1 xl-o2">
                        <h:outputText value="Mot de passe"/>
                    </b:column>
                    <b:column style-class="w-50 flex-0-0-auto">
                        <b:inputSecret id="inpPassword"
                                       placeholder="Mot de passe"
                                       value="#{mbLogin.password}">
                            <f:facet name="prepend">
                                <b:iconAwesome name="key" />
                            </f:facet>
                        </b:inputSecret>
                        <b:message for="inpPassword" styleClass="error" />
                    </b:column>
                </b:row>
                <b:row>
                    <b:column style-class="mt-1rem">
                        <b:commandButton style-class="w-75" value="Connexion" action="#{mbLogin.connect()}" />
                    </b:column>
                    <!-- Not going to be implemented. Sorry.
                    <b:column
                            style-class="">
                        <b:commandButton style-class="w-100" value="Mot de passe oublié" action="#{mbLogin.connect()}" />
                    </b:column>
                    -->
                </b:row>
                <b:row>
                    <b:column styleClass="mt-1rem center">
                        <b:commandLink value="Je ne possède pas de compte" href="register.xhtml" />
                    </b:column>
                </b:row>
            </b:panel>
        </b:form>
    </ui:define>

</ui:composition>

</html>