<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/arch.xhtml">

    <ui:define name="head">
        <title>Inscription</title>
    </ui:define>

    <ui:define name="content">
        <b:form id="inscriptionForm" horizontal="true">
            <b:panel style-class="panel one-panel no-select">
                <h2 class="mb-1rem flex-justify-center flex-align-center">Nouveau client</h2>

                <b:inputText id="newEmployeeLastname" label="Nom" placeholder="Votre Nom"
                             value="#{mbSignin.newEmployeeLastname}" />
                <b:message for="newEmployeeLastname" styleClass="error" />

                <b:inputText id="newEmployeeFirstname" label="Prénom" placeholder="Votre Prénom"
                             value="#{mbSignin.newEmployeeFirstname}" />
                <b:message for="newEmployeeFirstname" styleClass="error" />

                <b:datepicker id="newEmployeeBirthdate" label="Date de naissance" placeholder="Votre date de naissance"
                              value="#{mbSignin.newEmployeeBirthdate}" />
                <b:message for="newEmployeeBirthdate" styleClass="error" />

                <b:inputText id="newEmployeeEmail" label="Email" placeholder="Votre email"
                             value="#{mbSignin.newEmployeeEmail}" />
                <b:message for="newEmployeeEmail" styleClass="error" />

                <b:inputSecret id="newEmployeePassword" label="Mot de Passe" placeholder="Votre mot de passe"
                               value="#{mbSignin.newEmployeePassword}" />
                <b:message for="newEmployeePassword" styleClass="error" />



                <b:row>
                    <b:column style-class="xs-o2 xs-c2 sm-o2 sm-c4 md-o3 md-c4 lg-o4 lg-c4 xl-o5 xl-c6">
                        <b:commandButton style-class="w-100" update="inscriptionForm" value="Valider" ajax="true"
                                         action="#{mbSignin.insertEmployee()}" >
                        </b:commandButton>
                    </b:column>
                </b:row>
            </b:panel>
        </b:form>
    </ui:define>

</ui:composition>

</html>