/* general font styling */
* {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* header and footer */
#page-header {
    font-weight: 700;
    font-size: 4em;
}

#page-footer {
    font-size: 1em;
    background-color: rgb(92, 92, 92);
}

/* The app's logo style */
.logo{
    color:goldenrod;
    height: 7rem;
    width: 7rem;
    position: sticky;
    justify-items: flex-end;
    margin-bottom: 5%;
}

/* used by all panels */
.panel{
    border: rgba(80, 80, 80, 1) 3px;
}

/* used in contact.xhtml */
.panel-contact{
    border-radius: 2rem;
    height: 20rem;
}

/* used in the login, account and register forms */
.one-panel{
    width: 90%;
    margin-left: 5%;
    border-radius: 2%;
}

/* used in <ui:repeat>-generated panels */
.panel-in-grid{
    border-radius: 2%;
    padding: max(1rem, 10px);
}

.panel-in-grid > *{
    margin-left: 1em;
    /* adds a horizontal scrollbar in case of overflowing content */
    overflow-x: scroll; 
}

/* the following is used in account.xhtml */
#accountForm{
    width: 100%;
    border: rgba(128, 128, 128, 1) 3px;
    border-radius: 7.5%;
}

.change-value{
    padding: 1vh 1vw;
    border: rgba(96, 96, 96, 1) 1px dotted;
    border-radius: 10%;
}
