/* global vars */
:root{
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
   "Courier New", monospace;
}

/* :heading: styles */
h1, h2{
  font-weight: 700;
}
h3, h4{
  font-weight: 600;
}
h5, h6{
  font-weight: 500;
}

/* bootstrap heading sizes */
h1{
  font-size: 36px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 14px;
}
h6{
  font-size: 12px;
}

/* :abbr: styling */
abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

/* :code: styles */
pre,
code,
kbd,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  word-break: normal;
}

code {
  font-size: inherit;
  word-wrap: break-word;
}

kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  border-radius: 0.25rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
}

/* :dim: dimension classes */
.h-100 {
  height: 100%;
}
.h-75 {
  height: 75%;
}
.h-50 {
  height: 50%;
}
.h-25 {
  height: 25%;
}
.w-100 {
  width: 100%;
}
.w-75 {
  width: 75%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}

/* :flex: classes */

.flex-justify-center {
  display: flex;
  justify-content: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-0-0-auto{
  flex: 0 0 auto;
}

/* :font: font families and sizes */
/* sizes, absolute */
.extra-large{
  font-size: 20px;
}
.extra-small{
  font-size: 8px;
}
.large{
  font-size: 16px;
}
.medium{
  font-size: 12px;
}
.small{
  font-size: 10px;
}

/* sizes, relative to parent's fontsize */
.child-larger {
  font-size: 1.25em;
}
.child-medium {
  font-size: 1em;
}
.child-much-larger {
  font-size: 1.5em;
}
.child-much-smaller {
  font-size: 0.6em;
}
.child-smaller {
  font-size: 0.8em;
}

/* families */
.math {
  font-family: Cambria, serif;
}
.mono {
  font-family: "Lucida Console", Courier, monospace;
}
.sans-serif {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.times {
  font-family: "Times New Roman", Times, serif;
}

/* :font-thickness: */
.fw-1{
  font-weight: 100;
}
.fw-2{
  font-weight: 200;
}
.fw-3{
  font-weight: 300;
}
.fw-4{
  font-weight: 400;
}
.fw-5{
  font-weight: 500;
}
.fw-6{
  font-weight: 600;
}
.fw-7{
  font-weight: 700;
}
.fw-8{
  font-weight: 800;
}
.fw-9{
  font-weight: 900;
}

/* :margins: Margin classes */
/*  :marginNULL: null margins */
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.mr-0 {
  margin-right: 0;
}
.mt-0 {
  margin-top: 0;
}

/*  :marginREM: margin sizes, REM edition.
    1rem is 1% of the page's dimensions (1% of the page's width for 
    width-related attributes, and
    1% of the page's height for height-related attributes)
 */
/* 1rem */
.mb-1rem {
  margin-bottom: 1rem;
}
.ml-1rem {
  margin-left: 1rem;
}
.mr-1rem {
  margin-right: 1rem;
}
.mt-1rem {
  margin-top: 1rem;
}
/* 2rem */
.mb-2rem {
  margin-bottom: 2rem;
}
.ml-2rem {
  margin-left: 2rem;
}
.mr-2rem {
  margin-right: 2rem;
}
.mt-2rem {
  margin-top: 2rem;
}
/* 5rem */
.mb-5rem {
  margin-bottom: 5rem;
}
.ml-5rem {
  margin-left: 5rem;
}
.mr-5rem {
  margin-right: 5rem;
}
.mt-5rem {
  margin-top: 5rem;
}
/* 7rem */
.mb-7rem {
  margin-bottom: 7rem;
}
.ml-7rem {
  margin-left: 7rem;
}
.mr-7rem {
  margin-right: 7rem;
}
.mt-7rem {
  margin-top: 7rem;
}
/* 10rem */
.mb-10rem {
  margin-bottom: 10rem;
}
.ml-10rem {
  margin-left: 10rem;
}
.mr-10rem {
  margin-right: 10rem;
}
.mt-10rem {
  margin-top: 10rem;
}

/* :padding: padding classes */
/* in pixels, all directions */
.pad-px-0 {
  padding: 0;
}
.pad-px-1 {
  padding: 5px;
}
.pad-px-2 {
  padding: 10px;
}
.pad-px-3 {
  padding: 15px;
}
.pad-px-4 {
  padding: 20px;
}
.pad-px-5 {
  padding: 25px;
}
.pad-px-6 {
  padding: 30px;
}
.pad-px-7 {
  padding: 35px;
}
.pad-px-8 {
  padding: 40px;
}
.pad-px-9 {
  padding: 45px;
}
.pad-px-10 {
  padding: 50px;
}

/* directional padding */
.padb-px-1 {
  padding-bottom: 5px;
}
.padb-px-2 {
  padding-bottom: 10px;
}
.padb-px-3 {
  padding-bottom: 15px;
}
.padb-px-4 {
  padding-bottom: 20px;
}
.padb-px-5 {
  padding-bottom: 25px;
}
.padb-px-6 {
  padding-bottom: 30px;
}
.padb-px-7 {
  padding-bottom: 35px;
}
.padb-px-8 {
  padding-bottom: 40px;
}
.padb-px-9 {
  padding-bottom: 45px;
}
.padb-px-10 {
  padding-bottom: 50px;
}

.padl-px-1 {
  padding-left: 5px;
}
.padl-px-2 {
  padding-left: 10px;
}
.padl-px-3 {
  padding-left: 15px;
}
.padl-px-4 {
  padding-left: 20px;
}
.padl-px-5 {
  padding-left: 25px;
}
.padl-px-6 {
  padding-left: 30px;
}
.padl-px-7 {
  padding-left: 35px;
}
.padl-px-8 {
  padding-left: 40px;
}
.padl-px-9 {
  padding-left: 45px;
}
.padl-px-10 {
  padding-left: 50px;
}


.padr-px-1 {
  padding-right: 5px;
}
.padr-px-2 {
  padding-right: 10px;
}
.padr-px-3 {
  padding-right: 15px;
}
.padr-px-4 {
  padding-right: 20px;
}
.padr-px-5 {
  padding-right: 25px;
}
.padr-px-6 {
  padding-right: 30px;
}
.padr-px-7 {
  padding-right: 35px;
}
.padr-px-8 {
  padding-right: 40px;
}
.padr-px-9 {
  padding-right: 45px;
}
.padr-px-10 {
  padding-right: 50px;
}

.padt-px-1 {
  padding-top: 5px;
}
.padt-px-2 {
  padding-top: 10px;
}
.padt-px-3 {
  padding-top: 15px;
}
.padt-px-4 {
  padding-top: 20px;
}
.padt-px-5 {
  padding-top: 25px;
}
.padt-px-6 {
  padding-top: 30px;
}
.padt-px-7 {
  padding-top: 35px;
}
.padt-px-8 {
  padding-top: 40px;
}
.padt-px-9 {
  padding-top: 45px;
}
.padt-px-10 {
  padding-top: 50px;
}

/* :tab: tab sizes */
.tabs-lg{
  tab-size: 7rem;
}
.tabs-md{
  tab-size: 4rem;
}
.tabs-null{
  tab-size: 0;
}
.tabs-sm{
  tab-size: 2rem;
}
.tabs-xl{
  tab-size: 10rem;
}
.tabs-xs{
  tab-size: 1rem;
}

/* :text_align: text alignment */
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}


/* :misc: rules that don't really fit in any other section */

/* Elements of this class won't be displayed. */
.hide {
  display: none !important;
}

/* Disable text selection */
.no-select{
  user-select: none;
}

/* This class, when applied to an inline element, changes it into a block
 element. */
.block-display{
  display: block;
}

/* These elements will change the cursor to a "no-entry" symbol on hover */
button[disabled="true"], fieldset[disabled="true"], 
input[disabled="true"], keygen[disabled="true"], 
optgroup[disabled="true"], option[disabled="true"], 
select[disabled="true"], textarea[disabled="true"]{
  cursor: not-allowed;
}