/* namespace declaration, for XHTML files */
@namespace b url('http://bootsfaces.net/ui');

/* global variables */
:root {
    --bodybg: rgba(64, 64, 64, 0.5);
    --buttondangerhover: rgba(255, 16, 16, 0.75);

    --errorbgcolor: rgba(192, 0, 0, 0.9);
    --errortextcolor: rgba(255, 64, 64, 1);
    --generalbg: black;
    --kbd-framebg:rgba(96, 96, 96, .8);
    --normaltextbg: rgba(80, 80, 80, 0.75);
    --normaltextcolor: white;

    --tableinnerbordercolor: rgba(176, 176, 255, 0.8);
    --tableouterbordercolor: rgba(192, 192, 255, 1);
    --thbg:rgba(80,80,80,1);
    --tdclearer:rgba(120,120,120,1);
    --tddarker:rgba(120,120,120,.66);

    --warnbgcolor: rgba(160, 160, 1, 0.45);
    --warntextcolor: rgba(255, 255, 64, 1);
}

/* backgrounds and general styling */
* {
    background-color: var(--generalbg);
    color: var(--normaltextcolor);
}

html {
    font-weight: 400; /* normal */
}
body {
    background-color: var(--bodybg);
    height: 80rem;
    width: 64rem;
}

.version {
    font-weight: 300;
    font-size: 0.8em;
}

/* code extract styling */
pre code {
    color: inherit;
}
  
code {
    color: rgba(239, 239, 239, 1);
}
  
kbd {
    color: var(--normaltextcolor);
    background-color: var(--kbd-framebg);
}

/* table styling */
/* general table styling */
caption {
    padding: 6px;
}
caption.bottom {
    caption-side: bottom;
}
caption.top {
    caption-side: top;
}
table {
    border: 2px var(--tableouterbordercolor);
    text-align: center;
}
td,
th {
    border: 1px var(--tableinnerbordercolor);
}
th {
    font-weight: 600;
    background-color: var(--thbg) !important;
}

thead{
    font-weight: 700; /* bold */
}

thead, tbody{
    color:var(--normaltextcolor);
}

/* VERTICAL STRIP STYLE */

table.vstrip > tbody > tr > td:nth-child(even){
    background-color: var(--tdclearer);
}
table.vstrip > tbody > tr > td:nth-child(odd){
    background-color: var(--tddarker);
}

/* HORIZONTAL STRIP STYLE  */
table.hstrip > tbody > tr:nth-child(even) > td {
    background-color: var(--tdclearer);
}
table.hstrip > tbody > tr:nth-child(odd) > td {
    background-color: var(--tddarker);
}



/* button styles */
.button-normal, .button-caution,
.button-danger {
    border-radius: 10%;
    background-color: white;
}

.button-normal{
    color: black;
}
.button-caution{
    color:rgba(255, 160, 0, 1);
}
.button-danger{
    color:rgba(255, 64, 64, 1);
}

/* hover action on buttons */
.button-normal:hover{
    background-color: rgba(211, 211, 211, 1);
    transition-duration: .5s; /* add a fade effect that last for a half-second */
}
.button-caution:hover{
    background-color: rgba(255, 128, 0, 0.75);
    color: white;
    transition: .4s;
}
.button-danger:hover {
    background-color: rgba(255, 16, 16, 0.75);
    color: white;
    transition-duration: .33s;
}

/* text styles */
.error {
    background-color: var(--errorbgcolor);
    color: var(--errortextcolor);
}
.normal-text {
    background-color: var(--normaltextbg);
}
.warn {
    background-color: var(--warnbgcolor);
    color: var(--warntextcolor);
}

/* link styles */

b|commandLink, a{
    color: rgba(255, 255, 128, 1);
}

b|commandLink:hover, a:hover{
    color: rgba(192, 192, 255, 1);
    transition-duration: .5s;
}

b|commandLink:visited, a:visited{
    color: rgba(192, 192, 96, 1);
}

