/* at-rule for very small sceens (less than 577 pixels wide) */
@media (max-width: 575px) {
    /* grid system for very small screens: 6 columns */
    /* column width classes */
    .xs-c1{
        flex: 0 0 auto;
        width: 16.67%;
    }
    .xs-c2{
        flex: 0 0 auto;
        width: 33.33%;
    }
    .xs-c3{
        flex: 0 0 auto;
        width: 50%;
    }
    .xs-c4{
        flex: 0 0 auto;
        width: 66.67%;
    }
    .xs-c5{
        flex: 0 0 auto;
        width: 83.33%;
    }
    .xs-c6{
        flex: 0 0 auto;
        width: 100%;
    }

    /* offset classes */
    .xs-o1{
        margin-left: 16.67%;
    }
    .xs-o2{
        margin-left: 33.33%;
    }
    .xs-o3{
        margin-left: 50%;
    }
    .xs-o4{
        margin-left: 66.67%;
    }
    .xs-o5{
        margin-left: 83.33%;
    }

    /* customizable number of columns */
    .xs-cn1 > *{
        flex: 0 0 auto;
        width: 100%;
    }
    .xs-cn2 > *{
        flex: 0 0 auto;
        width: 50%;
    }
    .xs-cn3 > *{
        flex: 0 0 auto;
        width: calc(100%/3);
    }
    .xs-cn4 > *{
        flex: 0 0 auto;
        width: 25%;
    }
    .xs-cn5 > *{
        flex: 0 0 auto;
        width: 20%;
    }
}

/* at-rule for small sceens (less than 768 pixels wide) */
@media (max-width: 767px) {
    /* grid system for small screens: 8 columns */
    /* column width classes */
    .sm-c1{
        flex: 0 0 auto;
        width: 12.5%;
    }
    .sm-c2{
        flex: 0 0 auto;
        width: 25%;
    }
    .sm-c3{
        flex: 0 0 auto;
        width: 37.5%;
    }
    .sm-c4{
        flex: 0 0 auto;
        width: 50%;
    }
    .sm-c5{
        flex: 0 0 auto;
        width: 62.5%;
    }
    .sm-c6{
        flex: 0 0 auto;
        width: 75%;
    }
    .sm-c7{
        flex: 0 0 auto;
        width: 87.5%;
    }
    .sm-c8{
        flex: 0 0 auto;
        width: 100%;
    }

    /* offset classes */
    .sm-o1{
        
        margin-left: 12.5%;
    }
    .sm-o2{
        
        margin-left: 25%;
    }
    .sm-o3{
        
        margin-left: 37.5%;
    }
    .sm-o4{
        
        margin-left: 50%;
    }
    .sm-o5{
        
        margin-left: 62.5%;
    }
    .sm-o6{
        
        margin-left: 75%;
    }
    .sm-o7{
        
        margin-left: 87.5%;
    }

    /* customizable number of columns */
    .sm-cn1 > *{
        flex: 0 0 auto;
        width: 100%;
    }
    .sm-cn2 > *{
        flex: 0 0 auto;
        width: 50%;
    }
    .sm-cn3 > *{
        flex: 0 0 auto;
        width: calc(100%/3);
    }
    .sm-cn4 > *{
        flex: 0 0 auto;
        width: 25%;
    }
    .sm-cn5 > *{
        flex: 0 0 auto;
        width: 20%;
    }
    .sm-cn6 > *{
        flex: 0 0 auto;
        width: calc(100%/6);
    }
    .sm-cn7 > *{
        flex: 0 0 auto;
        width: calc(100%/7);
    }
}

/* at-rule for medium screens (less than 992 pixels wide) */
@media (max-width: 991px){
    /* grid system for medium screens: 10 columns */
    /* column width classes */
    .md-c1{
        flex: 0 0 auto;
        width: 10%;
    }
    .md-c2{
        flex: 0 0 auto;
        width: 20%;
    }
    .md-c3{
        flex: 0 0 auto;
        width: 30%;
    }
    .md-c4{
        flex: 0 0 auto;
        width: 40%;
    }
    .md-c5{
        flex: 0 0 auto;
        width: 50%;
    }
    .md-c6{
        flex: 0 0 auto;
        width: 60%;
    }
    .md-c7{
        flex: 0 0 auto;
        width: 70%;
    }
    .md-c8{
        flex: 0 0 auto;
        width: 80%;
    }
    .md-c9{
        flex: 0 0 auto;
        width: 90%;
    }
    .md-c10{
        flex: 0 0 auto;
        width: 100%;
    }
    /* offset classes */
    .md-o1{
        
        margin-left: 10%;
    }
    .md-o2{
        
        margin-left: 20%;
    }
    .md-o3{
        
        margin-left: 30%;
    }
    .md-o4{
        
        margin-left: 40%;
    }
    .md-o5{
        
        margin-left: 50%;
    }
    .md-o6{
        
        margin-left: 60%;
    }
    .md-o7{
        
        margin-left: 70%;
    }
    .md-o8{
        
        margin-left: 80%;
    }
    .md-o9{
        
        margin-left: 90%;
    }

    /* customizable number of columns */
    .md-cn1 > *{
        flex: 0 0 auto;
        width: 100%;
    }
    .md-cn2 > *{
        flex: 0 0 auto;
        width: 50%;
    }
    .md-cn3 > *{
        flex: 0 0 auto;
        width: calc(100%/3);
    }
    .md-cn4 > *{
        flex: 0 0 auto;
        width: 25%;
    }
    .md-cn5 > *{
        flex: 0 0 auto;
        width: 20%;
    }
    .md-cn6 > *{
        flex: 0 0 auto;
        width: calc(100%/6);
    }
    .md-cn7 > *{
        flex: 0 0 auto;
        width: calc(100%/7);
    }
    .md-cn8 > *{
        flex: 0 0 auto;
        width: 12.5%;
    }
    .md-cn9 > *{
        flex: 0 0 auto;
        width: calc(100%/9);
    }
}

/* at-rule for large screens (less than 1,200 pixels wide) */
@media (max-width: 1199px) {
    /* grid system for large screens: 12 columns */
    /* column width classes */
    .lg-c1 {
        flex: 0 0 auto;
        width: 8.33%;
    }
    .lg-c2 {
        flex: 0 0 auto;
        width: 16.67%;
    }
    .lg-c3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .lg-c4 {
        flex: 0 0 auto;
        width: 33.33%;
    }
    .lg-c5 {
        flex: 0 0 auto;
        width: 41.67%;
    }
    .lg-c6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .lg-c7 {
        flex: 0 0 auto;
        width: 57.33%;
    }
    .lg-c8 {
        flex: 0 0 auto;
        width: 66.67%;
    }
    .lg-c9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .lg-c10 {
        flex: 0 0 auto;
        width: 83.33%;
    }
    .lg-c11 {
        flex: 0 0 auto;
        width: 91.67%;
    }
    .lg-c12 {
        flex: 0 0 auto;
        width: 100%;
    }
    
    /* offset classes */
    .lg-o1 {
        
        margin-left: 8.33%;
    }
    .lg-o2 {
        
        margin-left: 16.67%;
    }
    .lg-o3 {
        
        margin-left: 25%;
    }
    .lg-o4 {
        
        margin-left: 33.33%;
    }
    .lg-o5 {
        
        margin-left: 41.67%;
    }
    .lg-o6 {
        
        margin-left: 50%;
    }
    .lg-o7 {
        
        margin-left: 57.33%;
    }
    .lg-o8 {
        
        margin-left: 66.67%;
    }
    .lg-o9 {
        
        margin-left: 75%;
    }
    .lg-o10 {
        
        margin-left: 83.33%;
    }
    .lg-o11 {
        
        margin-left: 91.67%;
    }

    /* customizable number of columns */
    .lg-cn1 > *{
        flex: 0 0 auto;
        width: 100%;
    }
    .lg-cn2 > *{
        flex: 0 0 auto;
        width: 50%;
    }
    .lg-cn3 > *{
        flex: 0 0 auto;
        width: calc(100%/3);
    }
    .lg-cn4 > *{
        flex: 0 0 auto;
        width: 25%;
    }
    .lg-cn5 > *{
        flex: 0 0 auto;
        width: 20%;
    }
    .lg-cn6 > *{
        flex: 0 0 auto;
        width: calc(100%/6);
    }
    .lg-cn7 > *{
        flex: 0 0 auto;
        width: calc(100%/7);
    }
    .lg-cn8 > *{
        flex: 0 0 auto;
        width: 12.5%;
    }
    .lg-cn9 > *{
        flex: 0 0 auto;
        width: calc(100%/9);
    }
    .lg-cn10 > *{
        flex: 0 0 auto;
        width: 10%;
    }
    .lg-cn11 > *{
        flex: 0 0 auto;
        width: calc(100%/11);
    }
    
}

/* at-rule for very large screens (1,200 pixels wide or larger) */
@media (min-width: 1200px) {
    /* grid system for very large screens: 16 columns */
    /* column width classes */
    .xl-c1{
        flex: 0 0 auto;
        width: 6.25%;
    }
    .xl-c2{
        flex: 0 0 auto;
        width: 12.5%;
    }
    .xl-c3{
        flex: 0 0 auto;
        width: 18.75%;
    }
    .xl-c4{
        flex: 0 0 auto;
        width: 25%;
    }
    .xl-c5{
        flex: 0 0 auto;
        width: 31.25%;
    }
    .xl-c6{
        flex: 0 0 auto;
        width: 37.5%;
    }
    .xl-c7{
        flex: 0 0 auto;
        width: 43.75%;
    }
    .xl-c8{
        flex: 0 0 auto;
        width: 50%;
    }
    .xl-c9{
        flex: 0 0 auto;
        width: 56.25%;
    }
    .xl-c10{
        flex: 0 0 auto;
        width: 62.5%;
    }
    .xl-c11{
        flex: 0 0 auto;
        width: 68.75%;
    }
    .xl-c12{
        flex: 0 0 auto;
        width: 75%;
    }
    .xl-c13{
        flex: 0 0 auto;
        width: 81.25%;
    }
    .xl-c14{
        flex: 0 0 auto;
        width: 87.5%;
    }
    .xl-c15{
        flex: 0 0 auto;
        width: 93.75%;
    }
    .xl-c16{
        flex: 0 0 auto;
        width: 100%;
    }

    /* offset classes */
    .xl-o1{
        
        margin-left: 6.25%;
    }
    .xl-o2{
        
        margin-left: 12.5%;
    }
    .xl-o3{
        
        margin-left: 18.75%;
    }
    .xl-o4{
        
        margin-left: 25%;
    }
    .xl-o5{
        
        margin-left: 31.25%;
    }
    .xl-o6{
        
        margin-left: 37.5%;
    }
    .xl-o7{
        
        margin-left: 43.75%;
    }
    .xl-o8{
        
        margin-left: 50%;
    }
    .xl-o9{
        
        margin-left: 56.25%;
    }
    .xl-o10{
        
        margin-left: 62.5%;
    }
    .xl-o11{
        
        margin-left: 68.75%;
    }
    .xl-o12{
        
        margin-left: 75%;
    }
    .xl-o13{
        
        margin-left: 81.25%;
    }
    .xl-o14{
        
        margin-left: 87.5%;
    }
    .xl-o15{
        
        margin-left: 93.75%;
    }

    /* customizable number of columns */
    .xl-cn1 > *{
        flex: 0 0 auto;
        width: 100%;
    }
    .xl-cn2 > *{
        flex: 0 0 auto;
        width: 50%;
    }
    .xl-cn3 > *{
        flex: 0 0 auto;
        width: calc(100%/3);
    }
    .xl-cn4 > *{
        flex: 0 0 auto;
        width: 25%;
    }
    .xl-cn5 > *{
        flex: 0 0 auto;
        width: 20%;
    }
    .xl-cn6 > *{
        flex: 0 0 auto;
        width: calc(100%/6);
    }
    .xl-cn7 > *{
        flex: 0 0 auto;
        width: calc(100%/7);
    }
    .xl-cn8 > *{
        flex: 0 0 auto;
        width: 12.5%;
    }
    .xl-cn9 > *{
        flex: 0 0 auto;
        width: calc(100%/9);
    }
    .xl-cn10 > *{
        flex: 0 0 auto;
        width: 10%;
    }
    .xl-cn11 > *{
        flex: 0 0 auto;
        width: calc(100%/11);
    }
    .xl-cn12 > *{
        flex: 0 0 auto;
        width: calc(100%/12);
    }
    .xl-cn13 > *{
        flex: 0 0 auto;
        width: calc(100%/13);
    }
    .xl-cn14 > *{
        flex: 0 0 auto;
        width: calc(100%/14);
    }
    .xl-cn15 > *{
        flex: 0 0 auto;
        width: calc(100%/15);
    }
}